.my-label {
    color: purple;
    font-size: 18px;
    margin-top: 45px;
}

.my-highlight {
    color: red;
    font-weight: bold;
}

.my-highlight2 {
   font-style: italic;
}

/* .container {
    width: 600px;
} */

.my-highlight3 {
    color: brown;
}